body {
/* Change my background, and set global font family. */
    background-color: black; 
}

.content-wrapper {
  /* Center on page, set width */
}


header h1 {
  /* Make bigger and color, Change our font family to a sans serif and center */
    font-size: 3.5em;
    font-family: sans-serif;
    background-color: black;
    text-align: center;
    color: lawngreen;
    margin: 1em 0em 0em 0em;
}

.main-nav li {
 /* Change background color, remove bullets, border on each individual nav element. create and float links, center our content within the links. width, font color, change font family */
    float: left;
    list-style-type: none;
    background-color: darkseagreen;
    border-right: 1px solid white;
    padding: 1em;
    font-family: sans-serif;
    width: 8.8em;
    color: white;
    text-align: center;
  
}

a {
    color: white;
}

aside {
  /* clear float, background color, float, font color */
    float: left;
}



aside li {
  /* clear both, links? */
    clear: both;
    list-style-type: none;
    background-color: darkolivegreen;
    padding: .5em;
    font-family: sans-serif;
    width: 8em;
    height: 3em;
    float: left;
    text-align: center;
    
}

article {
  /* background-color, float to the right?, font size  */
    background-color: royalblue;
    font-family: sans-serif;
    margin: auto;
}

article figcaption {
    font-size: .75em;
    text-align: center;
    padding: 44px;
}

figure img {
/* Center, size of the font */ 
    margin: auto;
}

footer {
   /* float the images, create links, center links */
    margin: auto;
    width: 20%;
    background-color: darkslateblue;
    padding: 0em 33em 0em;
}







